services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: manga_db
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD:-062558}
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build: ./backend
    command: gunicorn manga_project.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DATABASE_URL=mysql://root:${DB_PASSWORD:-062558}@db:3306/manga_db
      - DEBUG=True
      - ALLOWED_HOSTS=*
      - CORS_ALLOWED_ORIGINS=http://localhost:3000

  frontend:
    build: .
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000

volumes:
  db_data:
